In [6]:
# Import necessary modules
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

In [2]:
# Import the dataset from the csv file.
df = pd.read_csv('reduced_dim_space_ddG.csv')
# We have lot of rows that have Enantiomeric Excess == 0. These ones we will exclude from the dataset.
df_cleaned = df[df['ddG (% ee)'] != 0]
df_cleaned

     Catalyst          x          y          z  ddG (% ee)
0       1_1_1   5.100125 -27.742489 -17.922393    1.226289
1       1_1_2   5.153813 -27.571266 -17.950507    0.719002
10     1_11_1  24.913739  -0.494436  -8.842801    0.631877
16      1_2_1  12.039033 -10.467777  -6.094131    0.216792
17      1_2_2  11.859191 -10.604692  -6.049362    0.111677
...       ...        ...        ...        ...         ...
1810    9_3_4  36.077375  -7.875347 -14.939623    0.128432
1813    9_4_1  25.574518 -17.376362   4.663637    0.912247
1831    9_7_1  22.777582 -19.792283   2.750864    0.056902
1834    9_7_4  22.721846 -19.736566   2.713267    0.408758
1843    9_9_1  25.400782 -23.623595   6.083554    0.476662

[318 rows x 5 columns]

In [4]:
# Lets separate out the x and y 
X = df_cleaned[['x', 'y', 'z']]
y = df_cleaned['Catalyst']
X_train, X_test, y_train, y_test = train_test_split(
	X, y, test_size=0.2, random_state=42)

model = KNeighborsClassifier(n_neighbors=3)
model.fit(X_train, y_train)
# Predict on dataset which model has not seen before
print(model.predict(X_test))

['15_1_2' '1_11_1' '11_1_4' '1_7_2' '1_7_1' '18_1_1' '21_7_4' '11_3_4'
 '13_2_2' '18_6_1' '3_3_1' '15_3_1' '11_10_4' '21_6_2' '11_7_1' '15_1_2'
 '11_3_4' '2_2_4' '8_3_1' '3_2_1' '14_2_1' '21_7_4' '10_3_1' '18_2_1'
 '12_3_1' '18_6_1' '6_2_1' '11_3_2' '18_6_1' '11_1_4' '11_2_1' '1_3_2'
 '21_11_2' '2_2_4' '8_3_1' '11_10_4' '21_6_2' '16_3_4' '2_4_4' '11_2_1'
 '1_3_2' '20_11_2' '6_3_2' '6_2_1' '12_2_4' '1_2_2' '1_4_4' '6_2_1'
 '11_3_4' '15_11_1' '13_3_4' '3_1_1' '14_2_1' '12_2_4' '10_3_1' '11_3_2'
 '18_10_1' '13_2_2' '11_1_4' '14_3_1' '14_7_1' '18_2_1' '16_3_1' '19_3_1']

In [5]:
X_test

              x          y          z
383  -23.772215 -51.613680 -40.179666
1669  24.712875  -4.042858  -7.723960
128  -11.894843 -19.947321 -27.690067
1510   7.010431 -16.284663  -5.604646
39     4.944523 -25.110828  -5.624117
...         ...        ...        ...
1305   1.692297  21.651371 -44.835876
1075 -15.725111   8.426645   8.126115
597    7.617200 -24.462511  17.664039
471   15.003737  80.703096 -30.510123
668    7.372543  12.477858 -28.754394

[64 rows x 3 columns]

In [8]:
sample_predict = np.array([-48.68710019,27.57547822,53.74597739])
model.predict(sample_predict.reshape(1, -1))

C:\Users\dalje\PycharmProjects\ee-predict\venv\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

array(['12_3_2'], dtype=object)