In [5]:
import pandas as pd
pd.read_csv('reduced_dim_space_ddG.csv')

     Catalyst          x          y          z  ddG (% ee)
0       1_1_1   5.100125 -27.742489 -17.922393    1.226289
1       1_1_2   5.153813 -27.571266 -17.950507    0.719002
2       1_1_5   5.152788 -27.598759 -17.955535    0.000000
3       1_1_6   5.165622 -27.892380 -18.100201    0.000000
4      1_10_1  33.313791  -4.891048  29.252912    0.000000
...       ...        ...        ...        ...         ...
1844    9_9_2  25.333407 -23.646411   5.833764    0.000000
1845    9_9_3  25.433601 -23.674885   6.156243    0.000000
1846    9_9_4  25.360759 -23.579587   6.046853    0.000000
1847    9_9_5  25.368488 -23.743857   5.801636    0.000000
1848    9_9_6  25.539803 -23.995130   5.719818    0.000000

[1849 rows x 5 columns]